.containerAgents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    margin: 1rem;
    width: 100%;
    .cardsAgentsDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        background-color: #F55058;
        li{
            list-style-type:none;
        }
        img{
            width: 100%;
        }
    }
}